if [[ $(uname) = "Linux"  ]] ;then
    export ENV_TC_PATH=$(pwd)/utils/Linux/riscv-none-elf-gcc/bin
    echo  toolchain path is $ENV_TC_PATH
fi
#use flake "github:hitsmaxft/devshell-qmk_port_ch528.nix/master" --impure
use flake ~/.config/nixshell/wchdev/ --impure

PATH_add ./utils/Linux/nrf-command-line-tools-10.19.0_linux-amd64/bin/
PATH_add ./utils/Linux/WCHISPTool_CMD/bin/

